@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'inter';
    src: url(../font/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: 'manrope';
    src: url(../font/Manrope/Manrope-VariableFont_wght.ttf);
}

@layer base {
    html {
        scroll-behavior: smooth;
        box-sizing: border-box;
        
    }

    body {
        overflow-x: hidden !important;
       @apply font-inter font-normal
    }
}

@layer components {

    .header-links {
        @apply flex items-center pt-2 gap-3 text-sm leading-[18px] font-medium text-[#B1B1B1] pb-[18px] border-b border-transparent transition-all duration-500 hover:text-white hover:border-[#F99D1A]
    }
    .abs-line {
      @apply w-20 h-px absolute -bottom-5 left-0 bg-transparent
    }
    .header-links.active {
        @apply text-white border-[#F99D1A]
    }
  
    .header-links.active .abs-line {
      @apply bg-[#F99D1A]
    }
    svg.final stop {
        transition: all 0.5s ease;
        stop-color: #FFF;
    }
    .svgbtn:hover svg.final stop {
        stop-color: #F99D1A;
    }
   
    .wrapper-dropdown.active .arrow {
        transform: rotate(0deg) !important;
    }
  
    .wrapper-dropdown.active .dropdown {
        opacity: 1;
        visibility: visible;
        display: block;
    }
    
    .wrapper-dropdown1.active .dropdown {
      opacity: 1;
      visibility: visible;
      display: block;
  }
      .selected-display .border {
        border:none;
      }
      .selected-display .border img{
        display: none;
      }
      .selected-display>div{
        background: none;
      }
      .wrapper-dropdown.dropdown-2 .selected-display .text-white{
        color:rgb(249, 157, 26 )!important;
      }
      
      .wrapper-dropdown.dropdown-2.active .arrow-svg{
        transform: rotate(0deg);
      }
      .wrapper-dropdown.dropdown-3.active .arrow-svg{
        transform: rotate(-180deg);
      }
      .selected-display>div{
        padding: 0;
    }
    .selected-display:hover > div {
      background: transparent;
    }
.tooltip{
  border: 1px solid rgba(153, 153, 153, 0.20) !important;
  background: #000000 !important;
  border-radius: 8px !important;
  padding: 6px 12px !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 18px !important;
  color: #fff !important;
  white-space: nowrap;
}
.tooltip:before {
  content: '';
  position: absolute;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  bottom: -6px;
  margin: 0 6px;
  transform-origin: 50% 0;
}
  .tippy-tooltip{
    border: 1px solid rgba(153, 153, 153, 0.20) !important;
    background: #000000 !important;
    border-radius: 8px !important;
    padding: 6px 12px !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: 18px !important;
    color: #fff !important;
  }
  .tippy-popper{
    left:5px;
  }
  .tippy-arrow{
    left: 55px;
  }
  .tippy-popper[x-placement^=top] .tippy-arrow {
    border-top: 5px solid #000000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    bottom: -6px;
    margin: 0 6px;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
}
.hidden {
    display: none;
   }
   #GenerateBtn[disabled]{
    background-color: #1f1405;
    color: #6c450d;
  }
  #GenerateBtn[disabled] svg path{
    stroke:#6c450d;
  }
  #GenerateBtn svg path{
    stroke:#FA9D1A;
  }
  .webgl {
      width: 100% !important;
      max-width: 580px!important;
      height: 370px !important;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
  }

    @property --angle {
      syntax: "<angle>";
      inherits: true;
      initial-value: 0turn;
    }
    .highlighted-box::before{
      content: " ";
    position: absolute;
    inset: calc(1px * -1);
    z-index: -1;
    border: inherit;
    border-radius: inherit;
    background-image: conic-gradient(from var(--angle) at 50% 50%, rgba(249, 157, 26, 0.00) 0deg, rgba(249, 157, 26, 0.00) 341.78638458251953deg, #F99D1A 360deg);    
    background-origin: border-box;
    -webkit-mask:
      linear-gradient(black, black) content-box,
      linear-gradient(black, black);  
    mask: linear-gradient(black, black),
          linear-gradient(black, black);
    -webkit-mask-clip: content-box, border-box;  
    mask-clip: content-box, border-box;
    -webkit-mask-composite: xor;  
    mask-composite: exclude;
    
    }
    .rotate-small-box{
      animation: spin 10s linear infinite;
    }
    .rotate-big-box{
      animation: spin 25s linear infinite;
    }
    @keyframes spin {
      to {
        --angle: 1turn;
      }
    }
    .box_rotate {
      transform: perspective(500px) rotateY(2deg) translateX(0%);
    }
    .box_rotate1 {
      transform: perspective(500px) rotateY(6deg) translateX(0%);
    }
    .box_-rotate {
      transform: perspective(500px) rotateY(-2deg) translateX(0%);
    }
    .box_-rotate1 {
      transform: perspective(500px) rotateY(-6deg) translateX(0%);
    }
    .slider-detail{
      opacity: 0;
      transform: translateY(10px);
      transition: all .3s ease-in-out;
    }
    .hero-slider .slick-current.slick-active .slider-detail{
      opacity: 1;
      transform: translateY(0px);
    }
    .bg-radial {
      background-image:  radial-gradient(22.64% 41.12% at 50% 0%, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.00) 100%);
    }
    .line-horizontal {
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
      -webkit-animation: drop2 7s 0s infinite;
      animation: drop2 7s 0s infinite;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
      animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    }
    
   
    @keyframes drop2 {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(120px);
        opacity: 0;
      }
    } 
    .nav-link{
      position: realtive;
      color: #B1B1B1;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      transition: all .6s ease-in-out;
    }
    .nav-link:hover{
      color: #fff;
    }
    .nav-link::before{
      content: '';
      position: absolute;
      bottom: -16px;
      width: 100%;
      opacity: 0;
      height: 1px;
      background-color: #F99D1A;
      left: 50%;
      transform: translate(-50%, 0);
      transition: 0.3s all ease-out;
    }
    .navbar ul>li>a:hover:before{
      opacity: 1;
      -webkit-transition: 0.3s all ease-out;
      -moz-transition: 0.3s all ease-out;
      -ms-transition: 0.3s all ease-out;
      -o-transition: 0.3s all ease-out;
      transition: 0.3s all ease-out;
  }
  .modal-home {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 536px;
    height: auto;
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1000;
    overflow: auto;
}
@media (max-width: 600px) {
  .modal-home {
    margin: 10px;
  }
}
.modal {
  position: fixed;
  left: 28.5%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  display: none;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 1000;
  overflow: auto;
  max-width: max-content;
}
[data-tab].active{
  background-color: #F99D1A;
  color: #000;
}
.active-box{
  border:2px solid #FA9D1A;
  border-radius: 12px;
  position: relative;
}
.active-box:before{
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(249, 157, 26, 0.00) 80%, rgba(249, 157, 26, 0.50) 100%);
  border-radius: 12px;
}
.right-list-btn.active{
  border-color:#F99D1A;
}
.dot1,
.dot2,
.dot3 {
	opacity: 0;
	animation: dotanimation 3s ease 5s infinite;
	animation-timing-function: ease-in-out;
}
.dot1 {
	-o-animation-delay: 200ms;
	-moz-animation-delay: 200ms;
	-webkit-animation-delay: 200ms;
	animation-delay: 200ms;
}

.dot2 {
	-o-animation-delay: 400ms;
	-moz-animation-delay: 400ms;
	-webkit-animation-delay: 400ms;
	animation-delay: 400ms;
}

.dot3{
	-o-animation-delay: 600ms;
	-moz-animation-delay: 600ms;
	-webkit-animation-delay: 600ms;
	animation-delay: 600ms;
}

@-webkit-keyframes dotanimation {
	0% {
		opacity: 1;
	}
	25% {
		opactiy: 0.8;
	}
	50% {
		opactiy: 0.4;
	}
	75% {
		opactiy: 0.8;
	}
	100% {
		opactiy: 1;
	}
}

}
